/* General Styles */

:root {
  --main-color: #757575;
  --second-color: #212121;
  --acccent-color: #2196f3;
  --main-background-color: #ffffff;
  --main-gap: 30px;
  --trns--color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--main-background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header styles */
.page-header {
  border: 1px solid #ececec;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-head-first {
  color: var(--acccent-color);
}

.logo-head-second {
  color: #000000;
}

.head-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: var(--trns--color);
}

.head-link:hover,
.head-link:focus {
  color: var(--acccent-color);
}

.current {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--acccent-color);
}


.head-contacts {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  transition: var(--trns--color);
}

.icon-head {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

.head-contacts:hover,
.head-contacts:focus {
  color: var(--acccent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.main-nav .link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
  align-items: center;
}

.head-link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1.6px;
  width: 100%;
  height: 4px;
  background-color: var(--acccent-color);
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0.3);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-link.current::after,
.head-link:hover::after,
.head-link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

/* HERO styles */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  border: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--acccent-color);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/* ABOUT styles */

.about {
  padding-bottom: 0;
}

.flex-about {
  display: flex;
  gap: var(--main-gap);
}

.thumb-about {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.flex-about .item {
  flex-basis: calc((100%-90px) / 4);
}

.about-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
}

.about-text {
  line-height: 1.71;
}

/* WHAT do styles */

.flex-what-do {
  display: flex;
  gap: var(--main-gap);
}

.flex-what-do .item {
  flex-basis: calc((100%-60px) / 3);
}

.headline {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-color);
}

.product-thumb {
  position: relative;
}

.what-text {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM styles */

.flex-team {
  display: flex;
  text-align: center;
  gap: var(--main-gap);
}

.flex-team .item {
  flex-basis: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.flex-team .item {
  background-color: #fff;
}

.team {
  background-color: #f5f4fa;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-color);
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.icon-team {
  width: 20px;
  height: 20px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  fill: #ffffff;
  background-color: var(--acccent-color);
  border-radius: 50%;
}

/* Company Styles */

.company-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--main-gap);
}

.company-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
  transition: var(--trns--color), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-link:focus,
.company-link:hover {
  border-color: var(--acccent-color);
  color: var(--acccent-color);
}

.icon-company {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* Footer styles */

.footer-main {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contacts {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--trns--color);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--acccent-color);
}

.footer-adress {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
  transition: var(--trns--color);
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--acccent-color);
}

.logo-second-footer {
  color: #ffffff;
}

.logo-first-footer {
  color: var(--acccent-color);
}

.foot-logo {
  display: block;
  margin-bottom: 20px;
}

.foot-data {
  margin-right: 70px;
}

.link-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}
.flex-foot {
  display: flex;
  align-items: baseline;
}

.foot-list {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.icon-foot {
  width: 20px;
  height: 20px;
}

.foot-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-link:hover,
.foot-link:focus {
  background-color: var(--acccent-color);
}

.foot-connect{
  margin-right: 93px;
}

.sub-text{
  font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: #FFFFFF;

}

.sub-data{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sub-form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 358px;
height: 50px;
font-size: 16px;
line-height: 1.25;
margin-top: 20px;
margin-right: 12px;
background: #2F303A;
color: rgba(255, 255, 255, 0.6);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

}


.sub-btn{
  width: 200px;
height: 50px;
 display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 36px;
  padding: 10px 28px;
letter-spacing: 0.06em;

font-weight: 700;
font-size: 16px;
line-height: 1.88;



color: #FFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: transparent;
cursor: pointer;
}

.sub-icon{
  margin-left: 10px;
  fill: currentColor;
}

/* Portfolio styles */

.flex-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.port-btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--second-color);
  background: #f5f4fa;
  cursor: pointer;
  border: transparent;
  transition: var(--trns--color), background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-btn:hover,
.port-btn:focus {
  color: #fff;
  background: var(--acccent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-gap);
}

.projects .item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .item:hover,
.projects .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color);
}

.port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.port-content {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: transparent;
}

.port-thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.over-text {
  position: absolute;
  min-width: 322px;
  min-height: 168px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.port-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-link:hover .port-overlay,
.port-link:focus .port-overlay {
  transform: translateY(0);
}

/* Modal Styles */

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  
  position: absolute;
  min-width: 528px;
  min-height: 581px;

  transform: scaleX(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scaleX(0);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: var(--trns--color);
}

.btn-modal:hover,
.btn-modal:focus{
  color: var(--acccent-color);
}

.modal-icon{
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-item{
  display: flex;
  align-items: center;
  justify-content: center;
width: 448px;
height: 40px;
margin-top: 4px;
margin-bottom: 10px;
padding: 0;
padding-left:42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}



.comment-item{
height: 120px;
padding: 12px 16px;

font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.send-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
height: 50px;
margin-left: 164px;
margin-right: 164px;
padding: 10px 52px;
  font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: transparent;
cursor: pointer;
}

.form-title{
margin-top: 40px;
margin-bottom: 12px;
  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.form-filed{
  position: relative;
  margin-right: 39px;
  margin-left:41px;
}

.form-label{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;

color: #757575;

}

.icon-modal{
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  fill:currentColor;
}

.form-item:focus + .icon-modal{
  color: var(--acccent-color);


}

:focus-visible {
  outline:  transparent;
}

.form-item:focus {
 border-color: var(--acccent-color);
}

.policy-form{
  position: relative;
  margin-left: 54px;
  margin-right: 51px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
font-size: 14px;
line-height: 1.71;
color: var(--main-color);

}

.policy{
  appearance: none;
  
}

.policy:checked + .policy-icon{
  border: transparent;
background: var(--acccent-color);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;

  
}

.policy-link{
  color: var(--acccent-color);
text-underline-position: under;
}

.policy-icon{
  position: absolute;
  left: -8px;
  top:5px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121 ;
  border-radius:2px ;
}