.company{
    @extend %section;
}

.company-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--main-gap);
}

.company-headline{
    margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
      
        color: #212121;
}

.company-link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    cursor: pointer;
    transition: var(--trns--color), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
        &:hover {
            border-color: var(--acccent-color);
            color: var(--acccent-color);
        }
}



.icon-company {
    fill: currentColor;
    width: 106px;
    height: 60px;
}